/************************/
/*	Eric Meyer Reset	*/
/************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video { 	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


/************************/
/*	Font-Face Settings	*/
/************************/
@font-face { font-family: '';
	src:	url('.eot');
	src:	url('.eot?#iefix') format('embedded-opentype'),
			url('.woff') format('woff'),
			url('.ttf') format('truetype'),
			url('.svg#[REPLACE WITH FONT-FAMILY NAME]') format('svg');
	font-weight: normal; font-style: normal;
}


/************************/
/*	Layout Styles		*/
/************************/
body { background: rgb(255,255,255); }
header {  }
section {  }
footer {  }
#feature {  }
#content {  }
#main {  }
#sidebar {  }


/************************/
/*	Text Styles			*/
/************************/
h1 {  }
h2 {  }
h3 {  }
h4 {  }
p {  }


/************************/
/*	Image Styles		*/
/************************/
img {  }


/************************/
/*  Form Styles         */
/************************/


/************************/
/*	Link Styles			*/
/************************/
a { color: rgb(56,53,52); text-decoration: none; }
a:hover { color: rgb(209,144,44) }


/************************/
/*	List Styles			*/
/************************/
ul {  }
ol {  }


/************************/
/*  Menu Styles         */
/************************/


/************************/
/*  Slider Styles       */
/************************/


/************************/
/*	Table Styles		*/
/************************/
table {  }
tr {  }
th {  }
td {  }


/************************/
/*	Misc Layout Styles	*/
/************************/
.clear { clear: both; }
.pad-left-10 { padding-left: 10px; }
.pad-right-10 { padding-right: 10px; }
.pad-top-10 { padding-top: 10px; }
.pad-bottom-10 { padding-bottom: 10px; }
.pad-left-20 { padding-left: 20px; }
.pad-right-20 { padding-right: 20px; }
.pad-top-20 { padding-top: 20px; }
.pad-bottom-20 { padding-bottom: 20px; }


/************************/
/*	Misc Text Styles	*/
/************************/
.fancy { font-style: italic; font-weight: normal; }
.italic { font-style: italic; }
.bold { font-weight: bold; }
.center { text-align: center; }
.right { text-align: right; }
.small { font-size: 80%; }
.smallcap { font-variant: small-caps; }
.border-top { margin: 20px 0 0 0; padding: 20px 0 0 0; border-top: 1px solid rgb(56,53,52); }
.border-bottom { margin: 0 0 20px 0; padding: 0 0 20px 0; border-bottom: 1px solid rgb(56,53,52); }
.border-left { margin: 0 0 0 20px; padding: 0 0 0 20px; border-left: 1px solid rgb(56,53,52); }
.border-right { margin: 0 20px 0 0; padding: 0 20px 0 0; border-right: 1px solid rgb(56,53,52); }
.float-left { float: left; }
.float-right { float: right; }


/************************/
/*  Mobile Styles       */
/************************/
@media handheld, only screen and (max-width: 768px) {
	
}
@media handheld, only screen and (max-width: 1024px) {
	
}